:root{
    --maincolor:#c4c9cd;
    --seondcolor:#dbdbe2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
}
.header #logo{
    font-size: 3.5rem;
    color: black;
}
.navbar a{
    color: black;
    font-size: 1.7rem;
    margin-left: 1rem;
}
.navbar a:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
}    
.icons div{
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    cursor: pointer;
}
.icons div:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
}

.search-box.active{
    left: 40%;
}
.search-box{
    position: absolute;
    top: 110%;
    left: 50%;
    width: 50%;
    right: 2rem;
    border: 3px solid black;
   
}
.search-box input{
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.body{
    background-color:inherit;
    width: 100%;
    min-height: 640px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
    align-items: center;


}
.items{
    width: 80%;
    height: 600px;
    background-color: green;
    margin:30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
        padding: 20px;
}
#dresses{
    background-color: rgb(197, 168, 243);
    
}
#nightwear{
    background-color: rgb(254, 131, 150);
}
#formals{
    background-color: rgb(237, 81, 81);
}
#accessories{
    background-color:rgb(249, 135, 83);
}
#offers{
    background-color:rgb(65, 240, 185);
}
.items h1{
    text-align: center;
    
    padding: 10px;
    border-radius: 10px;
}
#dresses h1{
    background-color: rgb(147, 243, 147);
}
#nightwear h1{
    background-color: rgb(161, 161, 252);
}
#formals h1{
    background-color:rgb(238, 133, 238);
}
#accessories h1{
    background-color:rgba(145, 242, 200, 0.712);
}
#offers h1{
    background-color: rgb(253, 225, 174);
}

.pics{
    margin: 5px;
}

 .pics img{
    width: 289px;
    height: 527px;
}
#accessories{
    height: 370px;
    
}
#accessories .pics img{
    width: 230px;
    height: 300px;
}
#accessories .pics{
    height: 400px;
}
#offers .pics img{
    width: 116rem;

    
}
#offers .pics #b{
    height:204px ;
}
#offers .pics #b1{
    height:320px ;
}